h2 {
    text-align:center
}

label {
    text-align: center;
    margin: auto;
    right: auto;

}

caption {
    text-align:center ;
}

th{
    padding: 15px;
    text-align: left;
    border: 2px solid blueviolet;
    background-color: aqua;

}

table{
    width: 700px;
    margin: left auto;
margin-right: auto;
background-color: aqua;

}
div{
    width: 700px;
    margin: left auto;
margin-right: auto;

}

